

/* header */
#header img{
  width: 150px;
}

.navbar.navbar-expand-lg.bg-secundary{
  background-color: #0c1633;
  
}
.navbar-nav{
  --bs-nav-link-padding-y: 0rem;
}
#nav-item--login{
  color: #98ca3f;
}
/* /header */

/* hero */
.list-group  li a {
  color: #98ca3e;
}
/* /hero */

/* section  sobre mi*/
/* /section  sobre mi*/

/*hard skills*/
.hard-skills .card{
  height:120px;
}
.hard-skills .card{
  border-radius: 11px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
               -20px -20px 60px #ffffff;
}
.hard-skills .card:hover{
  box-shadow: 0 2px 5px 0 #99ca3e85, 0 2px 5px 0 #98ca3e;

}
.hobbies .card{
  height:120px;
}
.hobbies .card{
  border-radius: 11px;
  background: #ffffff;
  box-shadow:  20px 20px 60px #d9d9d9,
               -20px -20px 60px #ffffff;
}
.hobbies .card:hover{
  box-shadow: 0 2px 5px 0 #99ca3e85, 0 2px 5px 0 #98ca3e;

}
.img-custom{
  width: 3rem;
  align-self: center;
  
}
/* section  estudios*/
.card-custom{
  width: 18Rem;
}
/* /section  estudios*/

/* section  proyectos*/
/* /section  proyectos*/

/* footer */
.footer{
  background-color: #26282b;
}
.footer h5{
  color: #98ca3e;
}
.footer__copyrigth{
  color: #98ca3e;
}
/* footer */

/* Login */
.login{
  height: 35vh;
}
/* Login */

/* panel */
.mg__custom--panel{
  width: 50%;
}
.item{
  font-size: 1.5rem;
}
.links{
  text-decoration: none;
}
